<h1>Signup</h1>
<%= form_with(model: @customer, url: signup_path, method: :post) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :province %>
    <%= form.select :province, options_for_select(@provinces) %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit 'Signup' %>
  </div>
<% end %>